<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.web>

    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>


  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="APD.Client.Web.Services.ChangesetRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="APD.Client.Web.Services.ProjectInfoRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="APD.Client.Web.Services.SettingsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="APD.Client.Web.Services.CIRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer ignoreExtensionDataObject="true" />
        </behavior>
        <behavior name="APD.Client.Web.Services.UserRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="APD.Client.Web.Services.ConfigurationRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="APD.Client.Web.Services.VCSCredentialsCheckerServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="APD.Client.Web.Services.VCSCredentialsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="APD.Client.Web.Services.LogEntryRepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" />
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
        </binding>
        <binding name="customBinding1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="APD.Client.Web.Services.ChangesetRepositoryServiceBehavior"
        name="APD.Client.Web.Services.ChangesetRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.ChangesetRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.ProjectInfoRepositoryServiceBehavior"
        name="APD.Client.Web.Services.ProjectInfoRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.ProjectInfoRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.SettingsServiceBehavior"
        name="APD.Client.Web.Services.SettingsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.SettingsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.CIRepositoryServiceBehavior"
        name="APD.Client.Web.Services.CIRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.CIRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.UserRepositoryServiceBehavior"
        name="APD.Client.Web.Services.UserRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.UserRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.ConfigurationRepositoryServiceBehavior"
        name="APD.Client.Web.Services.ConfigurationRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.ConfigurationRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.VCSCredentialsServiceBehavior"
        name="APD.Client.Web.Services.VCSCredentialsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.VCSCredentialsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="APD.Client.Web.Services.LogEntryRepositoryServiceBehavior"
        name="APD.Client.Web.Services.LogEntryRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="APD.Client.Web.Services.LogEntryRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
