<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ViewModelTestsTemplate.tt" #>
<#
// <copyright file="Tests.tt" company="Microsoft">
//  Copyright © Microsoft. All Rights Reserved.
// </copyright>

	string dslFile = Host.ResolvePath(@"..\..\Smeedee.Client.Framework\ViewModel\ViewModel.mvvm");
	
	ViewModelTestsTemplate viewModelTemplate = new ViewModelTestsTemplate();
	viewModelTemplate.File = dslFile;
	viewModelTemplate.Output.File = "ViewModels.cs";
	viewModelTemplate.UsingNamespace = "Smeedee.Client.Framework.ViewModel";
	viewModelTemplate.Namespace = "Smeedee.Client.Tests.ViewModel";
	viewModelTemplate.Render();

#>
