<#@ template language="C#" hostspecific="True" debug="True" #>
<#@ output extension="txt" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="ViewModelTemplate.tt" #>

<#
	string dslFile = Host.ResolvePath("ViewModel.mvvm");
	
	ViewModelTemplate viewModelTemplate = new ViewModelTemplate();
	viewModelTemplate.File = dslFile;
	viewModelTemplate.Output.File = "ViewModels.cs";
	viewModelTemplate.Namespace = "Smeedee.Client.Framework.ViewModel";
	viewModelTemplate.Render();
#>