<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"    />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <bufferedReceive />
          <serviceThrottling />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferSize="67108864" maxReceivedMessageSize="67108864">
          <readerQuotas maxArrayLength="67108864" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="binaryBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding />
          <httpTransport maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="Smeedee.Client.Web.Services.TaskDefinitionRepositoryService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="Smeedee.Client.Web.Services.TaskConfigurationRepositoryWebservice.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="Smeedee.Client.Web.Services.SlideConfigurationRepositoryService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="Smeedee.Client.Web.Services.NoSqlService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="Smeedee.Client.Web.Services.WidgetMetadataRepositoryService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Smeedee.Client.Web.Services.ChangesetRepositoryService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="Smeedee.Client.Web.Services.ChangesetRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.CIRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.CIRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.ConfigurationRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.ConfigurationRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.HolidayRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.HolidayRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.LogEntryRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.LogEntryRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.ProjectInfoRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.ProjectInfoRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.UserRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.UserRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.VCSCredentialsService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.VCSCredentialsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.RetrospectiveNoteRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.RetrospectiveNoteRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.TeamPictureRepositoryWebservice">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp"
          contract="Smeedee.Client.Web.Services.TeamPictureRepositoryWebservice" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.TaskDefinitionRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="Smeedee.Client.Web.Services.TaskDefinitionRepositoryService.customBinding0"
          contract="Smeedee.Client.Web.Services.TaskDefinitionRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.TaskConfigurationRepositoryWebservice">
        <endpoint address="" binding="customBinding" bindingConfiguration="Smeedee.Client.Web.Services.TaskConfigurationRepositoryWebservice.customBinding0"
          contract="Smeedee.Client.Web.Services.TaskConfigurationRepositoryWebservice" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.SlideConfigurationRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding"
          contract="Smeedee.Client.Web.Services.SlideConfigurationRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="MyServiceBehavior" name="Smeedee.Client.Web.Services.NoSqlService">
        <endpoint address="ws" binding="wsHttpBinding" contract="Smeedee.Client.Web.Services.NoSqlService" />
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding"
          contract="Smeedee.Client.Web.Services.NoSqlService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Smeedee.Client.Web.Services.WidgetMetadataRepositoryService">
        <endpoint address="" binding="customBinding" bindingConfiguration="Smeedee.Client.Web.Services.WidgetMetadataRepositoryService.customBinding0"
          contract="Smeedee.Client.Web.Services.WidgetMetadataRepositoryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>