<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="generated_components">
            <ComponentRef Id="Default.htm" />
            <ComponentRef Id="Silverlight.js" />
            <ComponentRef Id="Web.config" />
            <ComponentRef Id="Antlr3.Runtime.dll" />
            <ComponentRef Id="APD.Client.Web.dll" />
            <ComponentRef Id="APD.DataCollector.Console.exe" />
            <ComponentRef Id="APD.DataCollector.dll" />
            <ComponentRef Id="APD.DataCollector.Service.exe" />
            <ComponentRef Id="APD.DomainModel.dll" />
            <ComponentRef Id="APD.DomainModel.Framework.dll" />
            <ComponentRef Id="APD.DomainModel.NHMapping.dll" />
            <ComponentRef Id="APD.Framework.dll" />
            <ComponentRef Id="APD.Harvester.dll" />
            <ComponentRef Id="APD.Harvester.Framework.dll" />
            <ComponentRef Id="APD.Integration.dll" />
            <ComponentRef Id="APD.Integration.Framework.dll" />
            <ComponentRef Id="APD.Plugin.ProjectInfo.dll" />
            <ComponentRef Id="Castle.Core.dll" />
            <ComponentRef Id="Castle.DynamicProxy2.dll" />
            <ComponentRef Id="Iesi.Collections.dll" />
            <ComponentRef Id="log4net.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Common.Library.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
            <ComponentRef Id="NHibernate.ByteCode.Castle.dll" />
            <ComponentRef Id="NHibernate.dll" />
            <ComponentRef Id="SharpSvn_DB44_20_Win32.dll" />
            <ComponentRef Id="SharpSvn_SASL21_22_Win32.dll" />
            <ComponentRef Id="SharpSvn.dll" />
            <ComponentRef Id="System.Data.SQLite.dll" />
            <ComponentRef Id="APD.Client.Silverlight.xap" />
            <ComponentRef Id="ChangesetRepositoryService.svc" />
            <ComponentRef Id="CIRepositoryService.svc" />
            <ComponentRef Id="ConfigurationRepositoryService.svc" />
            <ComponentRef Id="LogEntryRepositoryService.svc" />
            <ComponentRef Id="ProjectInfoRepositoryService.svc" />
            <ComponentRef Id="SettingsService.svc" />
            <ComponentRef Id="UserRepositoryService.svc" />
            <ComponentRef Id="VCSCredentialsService.svc" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="Default.htm" Guid="{77AA7F31-C1A6-4234-988E-D305CF144016}">
                <File Id="Default.htm" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Default.htm" />
            </Component>
            <Component Id="Silverlight.js" Guid="{4BA5D418-DB22-4D69-A864-71F69AA56509}">
                <File Id="Silverlight.js" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Silverlight.js" />
            </Component>
            <Component Id="Web.config" Guid="{97399E84-60DD-4792-9806-F8B201EDF459}">
                <File Id="Web.config" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Web.config" />
            </Component>
            <Directory Id="bin" Name="bin">
                <Component Id="Antlr3.Runtime.dll" Guid="{97849F78-6762-4B84-A235-7A0B8B2E0DA0}">
                    <File Id="Antlr3.Runtime.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Antlr3.Runtime.dll" />
                </Component>
                <Component Id="APD.Client.Web.dll" Guid="{8B94FF47-0F02-4492-8399-53A377DDFFA8}">
                    <File Id="APD.Client.Web.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Client.Web.dll" />
                </Component>
                <Component Id="APD.DataCollector.Console.exe" Guid="{90B8A866-D750-43B8-B03C-910102D2B125}">
                    <File Id="APD.DataCollector.Console.exe" Name="DataCollector.exe" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.Console.exe" />
                </Component>
                <Component Id="APD.DataCollector.dll" Guid="{1750C53F-2B58-4BA5-B026-91A89A29493D}">
                    <File Id="APD.DataCollector.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.dll" />
                </Component>
                <Component Id="APD.DataCollector.Service.exe" Guid="{63467D38-521F-4710-BE7F-7316543D301E}">
                    <File Id="APD.DataCollector.Service.exe" Name="DataCollectorService.exe" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.Service.exe" />
                </Component>
                <Component Id="APD.DomainModel.dll" Guid="{7E5EC362-B1B9-4D04-9611-88B721B0627E}">
                    <File Id="APD.DomainModel.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.dll" />
                </Component>
                <Component Id="APD.DomainModel.Framework.dll" Guid="{69C3CC4B-6BEB-4EB9-8D6E-5BC779FDD3D9}">
                    <File Id="APD.DomainModel.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.Framework.dll" />
                </Component>
                <Component Id="APD.DomainModel.NHMapping.dll" Guid="{5002DDCF-CC30-4E52-8DBD-C8DCBDAFC0E9}">
                    <File Id="APD.DomainModel.NHMapping.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.NHMapping.dll" />
                </Component>
                <Component Id="APD.Framework.dll" Guid="{8589D602-BB0C-41CF-9109-93A658AFAA37}">
                    <File Id="APD.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Framework.dll" />
                </Component>
                <Component Id="APD.Harvester.dll" Guid="{963F90A9-3D6A-49B4-AD4B-640FD4F2AA6A}">
                    <File Id="APD.Harvester.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Harvester.dll" />
                </Component>
                <Component Id="APD.Harvester.Framework.dll" Guid="{FF23C51D-3978-4438-8BA7-76AF58A5A10A}">
                    <File Id="APD.Harvester.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Harvester.Framework.dll" />
                </Component>
                <Component Id="APD.Integration.dll" Guid="{CBE67E81-B910-42C2-9FA5-6D1899BDE562}">
                    <File Id="APD.Integration.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Integration.dll" />
                </Component>
                <Component Id="APD.Integration.Framework.dll" Guid="{A8C75016-8D9E-413E-BFE5-B3C2CBBC81C4}">
                    <File Id="APD.Integration.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Integration.Framework.dll" />
                </Component>
                <Component Id="APD.Plugin.ProjectInfo.dll" Guid="{3443577D-0989-4DE6-BD27-8DCECAF61132}">
                    <File Id="APD.Plugin.ProjectInfo.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Plugin.ProjectInfo.dll" />
                </Component>
                <Component Id="Castle.Core.dll" Guid="{DEE72FAD-D843-4B1A-A917-1319F79A2842}">
                    <File Id="Castle.Core.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Castle.Core.dll" />
                </Component>
                <Component Id="Castle.DynamicProxy2.dll" Guid="{864E472D-0C42-4B70-9D55-86D1C225E8FE}">
                    <File Id="Castle.DynamicProxy2.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Castle.DynamicProxy2.dll" />
                </Component>
                <Component Id="Iesi.Collections.dll" Guid="{CADF2FFF-F9E8-4857-99A0-9DC9E10BFE6C}">
                    <File Id="Iesi.Collections.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Iesi.Collections.dll" />
                </Component>
                <Component Id="log4net.dll" Guid="{C622D097-4028-4AB9-BE3C-E1702ACB1D77}">
                    <File Id="log4net.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\log4net.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Client.dll" Guid="{CE65D870-B4F7-4796-8F2C-6B1C8E7BA96D}">
                    <File Id="Microsoft.TeamFoundation.Build.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Common.dll" Guid="{A9596018-E313-4395-A7BF-DD0557D945D3}">
                    <File Id="Microsoft.TeamFoundation.Build.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Client.dll" Guid="{55C8A000-7D2F-49D9-86B4-DE39E17DCFB5}">
                    <File Id="Microsoft.TeamFoundation.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Common.dll" Guid="{147FFCE3-49D5-4AA1-9B05-D789D705D5FB}">
                    <File Id="Microsoft.TeamFoundation.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Common.Library.dll" Guid="{DFD0DAE3-596E-49CD-BFF1-602557B3850D}">
                    <File Id="Microsoft.TeamFoundation.Common.Library.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Common.Library.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.dll" Guid="{78A991A2-DF99-4C67-B738-5A1C9E23B861}">
                    <File Id="Microsoft.TeamFoundation.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Client.dll" Guid="{BB381DDA-D768-4806-A579-A9CE86A5BB29}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Common.dll" Guid="{B3480DF1-606F-4CB1-861A-EC77FE37E55D}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" Guid="{4F3E42D4-CA1E-46AC-A9A2-77B4FD73F1BD}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" Guid="{032E6CEF-F45B-4C0F-A57B-41964F9602F9}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" Guid="{BAE504A6-35B0-454F-A8F0-C7FA94F75069}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" Guid="{A5D91954-5F9D-4313-A689-7A420A8E2CD5}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" Guid="{5FD1FF6E-E86D-4B3E-8928-C3B50A2F4BBD}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" Guid="{658B85C8-1715-4AC2-8555-DAEB5F0946C0}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" Guid="{E13306BB-EA94-4690-81A9-69EA14276E87}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" Guid="{B6085CBA-84A9-4BFA-951F-A779C0318E9C}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
                </Component>
                <Component Id="NHibernate.ByteCode.Castle.dll" Guid="{1D084E54-235B-4609-8D0B-5F9D66E0422D}">
                    <File Id="NHibernate.ByteCode.Castle.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\NHibernate.ByteCode.Castle.dll" />
                </Component>
                <Component Id="NHibernate.dll" Guid="{9991EB34-220F-4253-BCC2-8C0799D6DF18}">
                    <File Id="NHibernate.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\NHibernate.dll" />
                </Component>
                <Component Id="SharpSvn_DB44_20_Win32.dll" Guid="{F94B0AA4-9FE3-4040-A19C-44C8103ED717}">
                    <File Id="SharpSvn_DB44_20_Win32.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn-DB44-20-Win32.dll" />
                </Component>
                <Component Id="SharpSvn_SASL21_22_Win32.dll" Guid="{F9D8DC8D-ACBB-4332-937D-72B922E41A2B}">
                    <File Id="SharpSvn_SASL21_22_Win32.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn-SASL21-22-Win32.dll" />
                </Component>
                <Component Id="SharpSvn.dll" Guid="{5693251C-5D1E-4CA2-8D4F-C881060ED914}">
                    <File Id="SharpSvn.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn.dll" />
                </Component>
                <Component Id="System.Data.SQLite.dll" Guid="{E33DC3BE-EFB9-43F2-907D-1985E1367C65}">
                    <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\System.Data.SQLite.dll" />
                </Component>
            </Directory>
            <Directory Id="ClientBin" Name="ClientBin">
                <Component Id="APD.Client.Silverlight.xap" Guid="{0658B825-6A98-4AAE-BC68-9CB73BB4FEA3}">
                    <File Id="APD.Client.Silverlight.xap" KeyPath="yes" Source="..\..\Build\bin\temp\installer\ClientBin\APD.Client.Silverlight.xap" />
                </Component>
            </Directory>
            <Directory Id="Services" Name="Services">
                <Component Id="ChangesetRepositoryService.svc" Guid="{D108C5A2-3480-4B30-A618-0D3BC962630F}">
                    <File Id="ChangesetRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ChangesetRepositoryService.svc" />
                </Component>
                <Component Id="CIRepositoryService.svc" Guid="{60D61373-E9AC-43EB-BA51-8BC5D7E3B3FA}">
                    <File Id="CIRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\CIRepositoryService.svc" />
                </Component>
                <Component Id="ConfigurationRepositoryService.svc" Guid="{B4BE9B36-9A3D-4202-9E22-7B659F3B3105}">
                    <File Id="ConfigurationRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ConfigurationRepositoryService.svc" />
                </Component>
                <Component Id="LogEntryRepositoryService.svc" Guid="{DCCA3288-A6FA-4AC6-803E-6F0DE40E1C81}">
                    <File Id="LogEntryRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\LogEntryRepositoryService.svc" />
                </Component>
                <Component Id="ProjectInfoRepositoryService.svc" Guid="{7B1DF623-3F74-4135-BB69-7C6F9A87C25E}">
                    <File Id="ProjectInfoRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ProjectInfoRepositoryService.svc" />
                </Component>
                <Component Id="SettingsService.svc" Guid="{64528BDD-08D9-4F6E-ADEE-82BD48245E2A}">
                    <File Id="SettingsService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\SettingsService.svc" />
                </Component>
                <Component Id="UserRepositoryService.svc" Guid="{647D227F-97AE-413D-96E4-0D1420D01F87}">
                    <File Id="UserRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\UserRepositoryService.svc" />
                </Component>
                <Component Id="VCSCredentialsService.svc" Guid="{26DEE8B7-9E23-475E-87E7-41758F95EFDD}">
                    <File Id="VCSCredentialsService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\VCSCredentialsService.svc" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>