<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="generated_components">
            <ComponentRef Id="Default.htm" />
            <ComponentRef Id="Silverlight.js" />
            <ComponentRef Id="Web.config" />
            <ComponentRef Id="Antlr3.Runtime.dll" />
            <ComponentRef Id="APD.Client.Web.dll" />
            <ComponentRef Id="APD.DataCollector.Console.exe" />
            <ComponentRef Id="APD.DataCollector.dll" />
            <ComponentRef Id="APD.DataCollector.Service.exe" />
            <ComponentRef Id="APD.DataCollector.Service.vshost.exe" />
            <ComponentRef Id="APD.DomainModel.dll" />
            <ComponentRef Id="APD.DomainModel.Framework.dll" />
            <ComponentRef Id="APD.DomainModel.NHMapping.dll" />
            <ComponentRef Id="APD.Framework.dll" />
            <ComponentRef Id="APD.Harvester.dll" />
            <ComponentRef Id="APD.Harvester.Framework.dll" />
            <ComponentRef Id="APD.Integration.dll" />
            <ComponentRef Id="APD.Integration.Framework.dll" />
            <ComponentRef Id="APD.Plugin.ProjectInfo.dll" />
            <ComponentRef Id="Castle.Core.dll" />
            <ComponentRef Id="Castle.DynamicProxy2.dll" />
            <ComponentRef Id="Iesi.Collections.dll" />
            <ComponentRef Id="log4net.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Controls.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Tasks.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Build.Tasks.VersionControl.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.Common.Library.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Common.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.VersionControl.Controls.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Controls.dll" />
            <ComponentRef Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
            <ComponentRef Id="NHibernate.ByteCode.Castle.dll" />
            <ComponentRef Id="NHibernate.dll" />
            <ComponentRef Id="SharpSvn_DB44_20_Win32.dll" />
            <ComponentRef Id="SharpSvn_SASL21_22_Win32.dll" />
            <ComponentRef Id="SharpSvn.dll" />
            <ComponentRef Id="System.Data.SQLite.dll" />
            <ComponentRef Id="APD.Client.Silverlight.xap" />
            <ComponentRef Id="ChangesetRepositoryService.svc" />
            <ComponentRef Id="CIRepositoryService.svc" />
            <ComponentRef Id="ConfigurationRepositoryService.svc" />
            <ComponentRef Id="LogEntryRepositoryService.svc" />
            <ComponentRef Id="ProjectInfoRepositoryService.svc" />
            <ComponentRef Id="SettingsService.svc" />
            <ComponentRef Id="UserRepositoryService.svc" />
            <ComponentRef Id="VCSCredentialsService.svc" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="Default.htm" Guid="{D4D2675E-0227-4D95-85FC-9D2BE078D2A1}">
                <File Id="Default.htm" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Default.htm" />
            </Component>
            <Component Id="Silverlight.js" Guid="{282454CF-0B38-4FB7-9F90-2AB5BE382DEC}">
                <File Id="Silverlight.js" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Silverlight.js" />
            </Component>
            <Component Id="Web.config" Guid="{09FE5FD8-FB0E-47DD-AA7E-9B01FBA3C226}">
                <File Id="Web.config" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Web.config" />
            </Component>
            <Directory Id="bin" Name="bin">
                <Component Id="Antlr3.Runtime.dll" Guid="{36285165-4F96-49F9-A7B2-D05AC28D33FE}">
                    <File Id="Antlr3.Runtime.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Antlr3.Runtime.dll" />
                </Component>
                <Component Id="APD.Client.Web.dll" Guid="{4725E557-D977-4610-9059-4F194F888DE8}">
                    <File Id="APD.Client.Web.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Client.Web.dll" />
                </Component>
                <Component Id="APD.DataCollector.Console.exe" Guid="{B2959214-BE8B-48D0-8217-0E5F46769C13}">
                    <File Id="APD.DataCollector.Console.exe" Name="DataCollector.exe" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.Console.exe" />
                </Component>
                <Component Id="APD.DataCollector.dll" Guid="{10397291-04C5-44D9-9AB3-659B0AD70C0E}">
                    <File Id="APD.DataCollector.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.dll" />
                </Component>
                <Component Id="APD.DataCollector.Service.exe" Guid="{7270796E-B6CD-4EEA-98F6-B3D7712AD951}">
                    <File Id="APD.DataCollector.Service.exe" Name="DataCollectorService.exe" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.Service.exe" />
                </Component>
                <Component Id="APD.DataCollector.Service.vshost.exe" Guid="{C1561D94-1A35-4C00-B4AC-CC93D6F163BA}">
                    <File Id="APD.DataCollector.Service.vshost.exe" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DataCollector.Service.vshost.exe" />
                </Component>
                <Component Id="APD.DomainModel.dll" Guid="{62F25546-4F1F-4560-8C23-EC52D2531951}">
                    <File Id="APD.DomainModel.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.dll" />
                </Component>
                <Component Id="APD.DomainModel.Framework.dll" Guid="{41874ABD-39DE-45CF-B3D9-DC265DD28B9D}">
                    <File Id="APD.DomainModel.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.Framework.dll" />
                </Component>
                <Component Id="APD.DomainModel.NHMapping.dll" Guid="{A756F770-B990-4DA1-8FE3-94704077DE07}">
                    <File Id="APD.DomainModel.NHMapping.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.DomainModel.NHMapping.dll" />
                </Component>
                <Component Id="APD.Framework.dll" Guid="{78D6B6C9-30C5-4E22-A373-C8B5B314DD5F}">
                    <File Id="APD.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Framework.dll" />
                </Component>
                <Component Id="APD.Harvester.dll" Guid="{73FF6E03-43DE-4CFE-8F02-9946EAAD8637}">
                    <File Id="APD.Harvester.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Harvester.dll" />
                </Component>
                <Component Id="APD.Harvester.Framework.dll" Guid="{65341E0E-29C9-475D-91A2-A9399B50F474}">
                    <File Id="APD.Harvester.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Harvester.Framework.dll" />
                </Component>
                <Component Id="APD.Integration.dll" Guid="{E6A7C2A8-71AC-4C14-9225-A4D9F58CFF36}">
                    <File Id="APD.Integration.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Integration.dll" />
                </Component>
                <Component Id="APD.Integration.Framework.dll" Guid="{02B7596C-D9A3-41A3-ACA4-97B7B0D5F4EA}">
                    <File Id="APD.Integration.Framework.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Integration.Framework.dll" />
                </Component>
                <Component Id="APD.Plugin.ProjectInfo.dll" Guid="{AB8CAEBC-5531-4BAF-96D0-D92281D6091B}">
                    <File Id="APD.Plugin.ProjectInfo.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\APD.Plugin.ProjectInfo.dll" />
                </Component>
                <Component Id="Castle.Core.dll" Guid="{1C828207-AD00-46A8-8A76-C37F4190E9BD}">
                    <File Id="Castle.Core.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Castle.Core.dll" />
                </Component>
                <Component Id="Castle.DynamicProxy2.dll" Guid="{BB85F22B-D7DC-4D02-8205-B4E45F010FC2}">
                    <File Id="Castle.DynamicProxy2.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Castle.DynamicProxy2.dll" />
                </Component>
                <Component Id="Iesi.Collections.dll" Guid="{23E0FC56-1484-4BF1-A109-A57481A3F8C2}">
                    <File Id="Iesi.Collections.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Iesi.Collections.dll" />
                </Component>
                <Component Id="log4net.dll" Guid="{0A0CD61D-7916-4D65-8B53-79BB00D6D9DE}">
                    <File Id="log4net.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\log4net.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Client.dll" Guid="{CB63A00E-4959-4F4A-9450-436A6E69FD3F}">
                    <File Id="Microsoft.TeamFoundation.Build.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Common.dll" Guid="{8AF73CDA-C1D3-4562-A67E-808418485DE7}">
                    <File Id="Microsoft.TeamFoundation.Build.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Controls.dll" Guid="{0E6E714F-1DEC-4501-AEFE-C4BC59561DAC}">
                    <File Id="Microsoft.TeamFoundation.Build.Controls.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Controls.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Tasks.dll" Guid="{ECC5F595-E0BA-4C96-A229-AC106E1D8879}">
                    <File Id="Microsoft.TeamFoundation.Build.Tasks.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Tasks.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Build.Tasks.VersionControl.dll" Guid="{0A4A895B-ED86-42E6-9FF2-4BF74D65CE46}">
                    <File Id="Microsoft.TeamFoundation.Build.Tasks.VersionControl.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Build.Tasks.VersionControl.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Client.dll" Guid="{6B0D057A-21EB-4D06-B095-8B19D3AFCCD3}">
                    <File Id="Microsoft.TeamFoundation.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Common.dll" Guid="{52BF546C-24D4-44CF-8D31-24C4373935C0}">
                    <File Id="Microsoft.TeamFoundation.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.Common.Library.dll" Guid="{744169A5-140B-4377-BF99-6DB90A8C297B}">
                    <File Id="Microsoft.TeamFoundation.Common.Library.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.Common.Library.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.dll" Guid="{7894ED49-590D-4C0C-8289-91D2B12F1180}">
                    <File Id="Microsoft.TeamFoundation.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Client.dll" Guid="{31CF841F-BF82-4C86-91B1-5A8D97449424}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Common.dll" Guid="{B4C2252A-5628-4C20-B2E8-9DD8373939A8}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Common.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Common.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" Guid="{753AD365-4B98-4178-9E9F-09638767BB7C}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.VersionControl.Controls.dll" Guid="{5D31183D-A4E4-43CA-B5B6-78F43CAA2C03}">
                    <File Id="Microsoft.TeamFoundation.VersionControl.Controls.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.VersionControl.Controls.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" Guid="{A35A6EE8-80A2-4601-8114-93757CDF8B59}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.Cache.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" Guid="{1EF819BB-E617-4B89-B8D4-D679338F14E9}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.DataStore.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" Guid="{D803D0BD-DE13-4599-9EA1-4E0C7D661C6F}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" Guid="{4B94DC8F-18ED-4637-B772-E58F63A3968D}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.Provision.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" Guid="{93349CCC-32CE-49E7-AA9C-ED9B8CE5ACDE}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" Guid="{2329E1CD-E483-48A6-9505-862E62BA26EA}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Client.RuleEngine.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Controls.dll" Guid="{D53924C0-3D05-40DC-8024-C9BC87904174}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Controls.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Controls.dll" />
                </Component>
                <Component Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" Guid="{322B5889-7569-4F09-B9E1-CBE70B0F7CF1}">
                    <File Id="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" />
                </Component>
                <Component Id="NHibernate.ByteCode.Castle.dll" Guid="{31D2316C-F684-4B1C-8B8E-8F093E7505AD}">
                    <File Id="NHibernate.ByteCode.Castle.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\NHibernate.ByteCode.Castle.dll" />
                </Component>
                <Component Id="NHibernate.dll" Guid="{E5A676C6-EB7C-43A9-BC7D-651D4FF0D4D7}">
                    <File Id="NHibernate.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\NHibernate.dll" />
                </Component>
                <Component Id="SharpSvn_DB44_20_Win32.dll" Guid="{1323EF10-6DC3-41BD-A271-6BB800AB8F8A}">
                    <File Id="SharpSvn_DB44_20_Win32.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn-DB44-20-Win32.dll" />
                </Component>
                <Component Id="SharpSvn_SASL21_22_Win32.dll" Guid="{9B3344D5-79A7-4CED-BFD7-1D4430008A61}">
                    <File Id="SharpSvn_SASL21_22_Win32.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn-SASL21-22-Win32.dll" />
                </Component>
                <Component Id="SharpSvn.dll" Guid="{31641866-E941-4A12-B9F1-4A27B37EFAC5}">
                    <File Id="SharpSvn.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\SharpSvn.dll" />
                </Component>
                <Component Id="System.Data.SQLite.dll" Guid="{15703F51-9C7F-4C49-806E-221F7D1F893C}">
                    <File Id="System.Data.SQLite.dll" KeyPath="yes" Source="..\..\Build\bin\temp\installer\bin\System.Data.SQLite.dll" />
                </Component>
            </Directory>
            <Directory Id="ClientBin" Name="ClientBin">
                <Component Id="APD.Client.Silverlight.xap" Guid="{FE890CCE-E34D-443D-8258-61D079678445}">
                    <File Id="APD.Client.Silverlight.xap" KeyPath="yes" Source="..\..\Build\bin\temp\installer\ClientBin\APD.Client.Silverlight.xap" />
                </Component>
            </Directory>
            <Directory Id="Services" Name="Services">
                <Component Id="ChangesetRepositoryService.svc" Guid="{97FE4D29-3046-4530-B7B3-58BADA16FE5A}">
                    <File Id="ChangesetRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ChangesetRepositoryService.svc" />
                </Component>
                <Component Id="CIRepositoryService.svc" Guid="{F055459B-051E-43B0-8ED8-2662B08577A9}">
                    <File Id="CIRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\CIRepositoryService.svc" />
                </Component>
                <Component Id="ConfigurationRepositoryService.svc" Guid="{686A01C1-5A1D-4A84-8E09-455B302F4F49}">
                    <File Id="ConfigurationRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ConfigurationRepositoryService.svc" />
                </Component>
                <Component Id="LogEntryRepositoryService.svc" Guid="{15B6A392-B0C0-4BFC-A2C1-26B80A709173}">
                    <File Id="LogEntryRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\LogEntryRepositoryService.svc" />
                </Component>
                <Component Id="ProjectInfoRepositoryService.svc" Guid="{611B7833-FD61-4729-85C5-D270860C85E7}">
                    <File Id="ProjectInfoRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\ProjectInfoRepositoryService.svc" />
                </Component>
                <Component Id="SettingsService.svc" Guid="{A0C5E039-0E90-4BB6-8966-A2567BAE1B7F}">
                    <File Id="SettingsService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\SettingsService.svc" />
                </Component>
                <Component Id="UserRepositoryService.svc" Guid="{11F81921-188B-4B32-A993-C9452CF1FE54}">
                    <File Id="UserRepositoryService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\UserRepositoryService.svc" />
                </Component>
                <Component Id="VCSCredentialsService.svc" Guid="{A87F2AA5-0F7F-4386-AA57-239C7AEC5AC5}">
                    <File Id="VCSCredentialsService.svc" KeyPath="yes" Source="..\..\Build\bin\temp\installer\Services\VCSCredentialsService.svc" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>