<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <Product Id="8b83a6d1-d2ea-40b6-abd4-3170301cf5b0" Version="0.3.1.1494" UpgradeCode="c1d9b230-54dc-4485-bc2c-af7f887da88e"
           Name="Smeedee" 
           Manufacturer="Capgemini" 
           Language="1033" >
    
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="Smeedee.cab" EmbedCab="yes" />
    
    <!-- Some variables -->
    <Property Id="IISUser">Network Service</Property>
    <Property Id="AspnetIsapiDll">%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll</Property>
    <Property Id="FrameworkFolder">%windir%\Microsoft.NET\Framework\v4.0.30319</Property>

    <WixVariable Id="WixUICostingPopupOptOut" Value="1" Overridable="yes" />
    
    <!-- We need this reference for wix to be able to detect .NET 4 -->
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <!-- Checking if .NET 4 is installed -->
    <Condition Message="Smeedee requires .NET Framework 4. Please install the .NET Framework then run this installer again.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>
    
    <!-- Checking if IIS is installed -->
    <Property Id="IIS_MAJOR_VERSION">
      <RegistrySearch Id="CheckIISVersion" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp" Name="MajorVersion" Type="raw" />
    </Property>
    <Condition Message="Setup could not detect IIS. IIS can be installed from 'Control Panel -> Add or remove programs -> Add/remove Windows Components' or similar, depending on your version of Microsoft Windows. You must also remember to enable IIS6 Management Compatibility.">
      Installed OR IIS_MAJOR_VERSION
    </Condition>
    
    <!-- Checking if IIS 6 Metabase Compatibility is enabled -->
    <Property Id="IIS_METABASE_COMPAT">
      <RegistrySearch Id="CheckIISMetabase" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp\Components" Name="ADSICompatibility" Type="raw" />
    </Property>
    <Condition Message="IIS 6 Management Compatibility feature must be installed. This can be done from 'Control Panel -> Add or remove programs -> Add/remove Windows Components' or similar, depending on your version of Microsoft Windows.">
      Installed OR ((VersionNT &lt; 600) OR IIS_METABASE_COMPAT)
    </Condition>

    <!-- Installing services, binaries etc to install location -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFilesFolder' Name='ProgramFiles'>
        <Directory Id="INSTALLLOCATION" Name="Smeedee">
          <Directory Id="service" Name="bin">
            <Component Id="DataCollectorServiceInstall" Guid="c462e427-41d7-4c9c-8767-56fd2dd83596">

              <File Id="SchedulerService_config" 
                    Name="Smeedee Scheduler Service.exe.config" 
                    KeyPath="no" 
                    Source="..\..\Build\installer\bin\Smeedee.Scheduler.Service.exe.config" />
 
              <File Id="SchedulerService_service" 
                    Name="Smeedee Scheduler Service.exe" 
                    KeyPath="yes" 
                    Source="..\..\Build\installer\bin\Smeedee.Scheduler.Service.exe" />

              <ServiceInstall Id="InstallSchedulerService" 
                              Name="Smeedee" 
                              DisplayName="Smeedee Task Scheduler" 
                              Description="Populates the database for the Smeedee application" 
                              Type="ownProcess" 
                              Interactive="no" Start="auto" Vital="yes" ErrorControl="normal" />

              <ServiceControl Id="Smeedee.Scheduler.exe_service" 
                              Name="Smeedee" 
                              Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Installing default smeedee database to AppData folder for all users -->
      <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
        <Component Id="SmeedeeDB" Guid="09de0156-a1f1-43f0-9016-3d8ec58e0a3d" Permanent="yes">
          <File Id="SmeedeeDB.db_1" Name="SmeedeeDB.db" Source="SmeedeeDB.db">
            <Permission GenericAll="yes" User="[IISUser]" />
            <Permission GenericAll="yes" User="Users" />
            <Permission GenericAll="yes" User="Administrators" />
          </File>
        </Component>
      </Directory>

      <!-- Registering site for Smeedee in IIS -->
      <Component Id="IISSmeedeeApplication" Guid="FFA12D9C-5AEC-45f8-AA7D-5C4CEC7FA466">
        <iis:WebVirtualDir Id="SmeedeeVirtualDir" Alias="Smeedee" Directory="INSTALLLOCATION" WebSite="DefaultWebSite">
          <iis:MimeMap Id="SilverligthMimeType" Extension=".xap" Type="application/x-silverlight-app" />
          <iis:WebApplication Id="SmeedeeWebApp" Name="Smeedee">
            <iis:WebApplicationExtension Executable="[AspnetIsapiDll]" Extension="svc" Script="yes" CheckPath="yes" Verbs="GET,HEAD,POST" />
            <iis:WebApplicationExtension Executable="[AspnetIsapiDll]" Extension="aspx" Script="yes" CheckPath="yes" Verbs="GET,HEAD,POST" />
            <iis:WebApplicationExtension Executable="[AspnetIsapiDll]" Extension="ashx" Script="yes" CheckPath="yes" Verbs="GET,HEAD,POST" />
          </iis:WebApplication>
          <iis:WebDirProperties Id="APDWebDirProperties" Execute="yes" Script="yes" Read="yes" WindowsAuthentication="no" AnonymousAccess="yes" IIsControlledPassword="yes" />
        </iis:WebVirtualDir>
      </Component>
    </Directory>

    <iis:WebSite Id="DefaultWebSite" Description="Default Web Site">
      <iis:WebAddress Id="AllUnassigned" IP="*" Port="80" />
    </iis:WebSite>

    <InstallExecuteSequence>
      <Custom Action="SetASPNETAsIISUser" After="InstallInitialize">VersionNT = 501</Custom>
    </InstallExecuteSequence>
    
    <CustomAction Id="SetASPNETAsIISUser" Property="IISUsser" Value="ASPNET" />
    <CustomAction Id="OpenWebSite" Directory="INSTALLLOCATION" ExeCommand='"[SystemFolder]cmd.exe" /c "start http://localhost/smeedee/Default.htm"' Return="asyncNoWait" />
    <CustomAction Id="StartService" Directory="INSTALLLOCATION" ExeCommand="sc start Smeedee" Return="asyncNoWait" />
    <CustomAction Id="RegisterAspInIIS" Directory="INSTALLLOCATION" ExeCommand="[FrameworkFolder]\aspnet_regiis.exe -i" Return="asyncNoWait" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="InstallationUI" />
    
    <!-- Defines the possible features we have to choose from when installing -->
    <Feature Id="ProductFeature" Title="Smeedee Core Components" Level="1" TypicalDefault="install" Description="Installs a website in IIS to host the Smeedee Silverlight client application and required web services.">
      <ComponentGroupRef Id="generated_components" />
      <ComponentRef Id="IISSmeedeeApplication" />
      <ComponentRef Id="SmeedeeDB" />
    </Feature>
    <Feature Id="windows_service" Title="Task Scheduler" Level="1" TypicalDefault="install" Description="Installs the Smeedee Task Scheduler as a Windows service. If you do not install this you have to manually start the console based Task Scheduler to populate the database.">
      <ComponentRef Id="DataCollectorServiceInstall" />
    </Feature>
  </Product>
</Wix>
